@media screen
  and (max-device-width: 768px)
  {

    #sedes {
      display: none;
    }

    #generation {
      padding-left: 0;
    }
    
    body {
      font-family: 'Open Sans', sans-serif;
      background: gray;
    
    }
    header {
      background-color: gray;
      padding-bottom: 5px;
      margin-bottom: 5px;
      padding-left: 1em;
      font-family: 'Bitter', sans-serif;
    }
    h3 {
      padding: 2px;
    }
    .container-fluid {
      background-color: #f1eeea !important;
      font-family: 'Open Sans', sans-serif;
      height: 100%
    }

    select#generaciones{
      width: 90%;
    }
    
    h2{
      text-align: center;
      color: #FF009E !important;
    }
    
    label {
      color:  #333333 !important;
    
    }
    
    .white {
      color: white !important;
    }
    
    .altu {
          height: 7em;
    }

    .card-header {
      padding: 0.75em;
    }
    
    .allscreen {
      height: 90vh;
    }
    
    .backyellow {
      background-color: #ffc107d9 !important;
      opacity: 0.9;
      filter: alpha(opacity=60);
      color: #333333 !important;
    }
    
    .subtitulo {
      font-size: 32px;
    }
    
    .black {
      color: #333333 !important;
    }
    
    .ground {
      background-color: #f1eeea !important;
      padding-left: 0.7em;
      padding-right: 0.7em;
    }
    
    .pink {
    background-color: #FF009E !important;
    }
    
    .size-a {
      font-size: 0.8em !important;
    }

    .position-right {
      float: right;
      margin-right: 3px;
    }

    .position-bottom {
      float: bottom;
      margin-bottom: 3px;
    }

    .card-body {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1em;
    }
    
    .bold {
      font-size: 1.3em;
      font-family: 'Bitter', sans-serif;
      text-align: center;
    }
    
    .advanceLMS {
      color: #333333;
      font-weight: bold;
      font-size: 1.5em;
    }
    
    .left {
        margin-left: 21.666667% !important;
    }
    
}