

#estudents {
  display: none;
}

body {
  font-family: 'Advent Pro', sans-serif;
background-color: #f1eeea !important;

}
#sedes {
  display: none;
}

header {
  background-color: gray;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: 'Advent Pro', sans-serif;
}
h3 {
  padding: 2px;
}
.container-fluid {
  background-color: #f1eeea !important;
font-family: 'Exo 2', sans-serif;
  height: 100vh
}
h2{
  padding: 25px;
  color: #FF009E !important;
}


label {
  color:  #333333 !important;

}
.white {
  color: white !important;
}

.altu {
      height: 35vh;
}
.allscreen {
  height: 90vh;
}
.backyellow {
  background-color: #ffc107d9 !important;
  opacity: 0.9;
  filter: alpha(opacity=60);
  color: #333333 !important;


}
.position-right {
  float: right;
  margin-right: 3px;
}
.desepear {
  display: none;
}

.subtitulo {
  font-size: 32px;
}

.black {
  color: #333333 !important;
}
.ground {
  background-color: #f1eeea !important;
}
.pink {
background-color: #FF009E !important;
}

.size-a {
  font-size: 20px !important;

}
.bold {
  font-weight: bold !important;
  font-size: 18px;

}

.advanceLMS {
  color: #333333;
  font-weight: bold;
  font-size: 65px;
}

.left {
    margin-left: 21.666667% !important;
}

rect {
  fill: #f1eeea !important;
}
