body {
  font-family: 'Advent Pro', sans-serif;

}
header {
  background: gray;
  opacity: 0.9;
  filter: alpha(opacity=60);
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: 'Advent Pro', sans-serif;
}

.text-right {
  text-align: right;

}

.container-fluid {
  background-color: #fafafa;
}
.backyellow {
  background-color: #ffc107d9 !important;
  opacity: 0.9;
  filter: alpha(opacity=60);
  color: #333333 !important;


}
.position-right {
  float: right;
}
.desepear {
  display: none;
}

#generaciones {
  margin-top: 5px;
}
label {
  font-size: 32px;
}

.black {
  color: #333333 !important;
}
